@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>The Everything Store</h2>
    <p class="lead">This site is built in COMP2084 Server Side Scripting.It uses MVC 5, SQL Server, Entity Framework and Twitter Bootstrap.</p>
    <p>Source code available at <a href="https://asp.net">Github</a></p>
</div>

